@import '../layout/colors.module';
@import '../layout/variables.module';


.modal_window_overlay {
  background-color: #1C1C33;
  position: fixed;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 100%;
  max-height: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

  .modal_header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #0A081E;
  }

  .modal_header_title {
    @include default_font(15px);
    margin: 5px 0;
    color: $dark-secondary-color;
  }

  .modal_close_button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    font-size: 20px;
    color: $dark-main-color;
  }
}

.modal_details {
  @include default_font(15px);
  margin: 15px 0 25px;
  color: $dark-secondary-color;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;

  @media screen and (max-width: 600px) {
    grid-template-columns: 90px 1fr;
    overflow-y: auto;
  }
}


